@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Partes do Header: */

header{
    display: flex;
    flex-direction: row;
    background-color: rgba(71, 71, 71, 0.116);
    width: 100%;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content:space-around;
}
header img{ 
    width: 130px;
    filter: invert(100%);
}
header li, header li a{
    margin: 9px;
    color: white;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    transition: .8s;
}
header li, header li a:hover{
    color: #c2bf21;
}

/* Sections e Body */

body{
    background-color: #131313;
    color: white;
}

/* Section 01 */

.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.texts{
    margin-left: 300px;
}
.texts h1{
    font-size: 3rem;
    line-height: 60px;
}
.texts h1 span{
    color: rgb(214, 211, 25);
}
.texts h3{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 200;
}
.image img{
    margin-top: 100px;
    margin-bottom: -4px;
    width: 80%;
    min-width: 327px;
}

/* Section 02 */

.section_2{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #131313;
    gap: 40px;
}
.section_2 h1{
    margin-top: 100px;
    text-align: center;
    max-width: 50%;
    font-size: 40px;
}
.section_2 h1 span{
    color: rgb(148, 20, 20);
}
.section_2 img{
    width: 700px;
    border-radius: 20px;
}
.section_2 p{
    margin-bottom: 100px;
    font-size: 20px;
    max-width: 60%;
    text-align: center;
}

/* Section 03 */

.section_3{
    height: 100vh;
    background-image: url(imgs/background.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #131313;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.section_3 p{
    background-color: aliceblue;
    box-shadow: 10px 7px 16px 0px rgba(0, 0, 0, 0.349);
    border-radius: 8px;
    max-width: 300px;
    font-size: 25px;
    padding: 15px;
}

/* Section 04 */

.section_4{
    display: flex;
    align-items: center;
}

.section_4 p{
    margin-left: 60px;
    max-width: 900px;
    font-size: 1.5em;
    line-height: 35px;
}

.section_4 img {
    margin-top: 300px;
    margin-bottom: 300px;
    width: 35%;
    border-radius: 10px;
    margin-left: 100px;
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(236, 236, 236);
    align-items: center;
    color: #131313;
    justify-content: space-evenly;
}
footer a, footer span{
    opacity: .75;
}
footer #git{
    margin-bottom: 3px;
    width: 40px;
}